<!doctype html>
<html lang="en" ng-app="angularTT">
<head>
    <meta charset="UTF-8">
    <title>AngularJS TT</title>
</head>
<body ng-controller="ExemploController as ec">
    <h1>{{ec.title}}</h1>

    <ul>
        <li ng-repeat="user in ec.users">
            <span ng-repeat="info in user">
                {{info}}
            </span>
            <button ng-click="ec.deleteByMail(user.mail)">DELETE</button>
        </li>
    </ul>

    <script src="../angular.min.js"></script>
    <script>
        angular.module('angularTT', [])
            .controller('ExemploController', ExemploController);

            function ExemploController() {
                let vm = this;

                vm.title = 'Exemplo de uso do Delete';
                vm.users = [
                    {name: 'Roberto Zaffari', mail: 'rz@gmail.com' },
                    {name: 'Fernando da Silva', mail: 'fernando.silva@hotmail.com' },
                    {name: 'Matheus Oliveira', mail: 'matheus@bol.com' }
                ];

                vm.deleteByMail = deleteByMail;

                function deleteByMail(mail) {
                    let filteredArray = vm.users.filter(function(el) {

                        return el.mail !== mail;
                    })

                    filteredArray[1]['propNova'] = 42;
                    vm.users = filteredArray;
                    //console.log(filteredArray);
                }
            }
    </script>
</body>
</html>