<!doctype html>
<html lang="en" ng-app="angularTT">
<head>
    <meta charset="UTF-8">
    <title>AngularJS TT</title>
</head>
<body ng-controller="UserController as uc">
    <h1>{{uc.title}}</h1>
    

    <table border="1">
        <thead>
            <tr>
                <th colspan="3">
                    Busca: <input type="text" ng-model="uc.searchField">
                </th>
            </tr>
            <tr>
                <th ng-repeat="(key, value) in uc.users[0]">
                    {{key}}
                </th>
            </tr>
        </thead>
        <tbody ng-init="uc.prop = 'name';uc.reverse = true">
            <tr ng-repeat="user in uc.users | orderBy:uc.prop:uc.reverse | filter:uc.searchField">
                <td ng-repeat="(key, value) in user">
                    {{value}}
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" ng-click="uc.add()">ADD USER</button>

    <div ng-controller="TecnologyController as tc">
        <h1>{{tc.title}}</h1>
        <ul>
            <li ng-repeat="tec in tc.tecnologies">
                {{tec.name}}
            </li>
        </ul>


        <button type="button" ng-click="tc.add()">ADD TECH</button>
    </div>

    <script src="../angular.min.js"></script>
    <script>
        angular.module('angularTT', [])
            .controller('UserController', UserController)
            .controller('TecnologyController', TecnologyController);

            function UserController() {
                let vm = this;

                vm.title = 'Usuários';
                vm.users = [
                    {name: 'Roberto Zaffari', phone: '985456875', mail: 'robertozaffari@gmail.com'},
                    {name: 'Rodrigo da Silva', phone: '845333789', mail: 'rodrigosilva@gmail.com'},
                    {name: 'Matheus Oliveira', phone: '123555548', mail: 'moliveira@hotmail.com'},
                ];

                vm.add = addUser;
                function addUser() {
                    vm.users.push({name: 'Full Name', phone: '4444555566', mail: 'mail@example.com'});
                }
            }

            function TecnologyController() {
                let vm = this;

                vm.title = 'Tecnologias';
                vm.tecnologies = [
                    {name: 'AngularJS', link: 'http://www.angularjs.org'},
                    {name: '.net', link: 'http://www.ms.com'},
                    {name: 'Java', link: 'http://www.java.org'},
                    {name: 'Node', link: 'http://www.nodejs.org'},
                    {name: 'SQL', link: 'http://www.sitedosql.com'},
                ];

                vm.add = addTech;
                function addTech() {
                    vm.tecnologies.push({name: 'Tech Name', link: 'http://linkdatech.com'});
                }
            }
    </script>
</body>
</html>